body{
	font: 15px/1.5 Arial, Helvetica,Sans-serif;
	padding: 0;
	margin:0;
	/* background-color:#f4f4f4; */

}

/* global */
.container{
	width:80%;
	margin: auto;
	overflow: hidden;
}

/* global */
.containerContent{
	width:400px;
	float: left;
	
	padding-left:10px;
	padding-top: 2px;
	margin-left:10%;
	overflow: hidden;
	background-color:#f4f4f4;
	box-sizing: border-box;
	box-shadow: 5px 5px 5px #aaaaaa;
}



/* header */
header{
	background:#35424a;
	color:#ffffff;
	padding-top:30px;
	min-height:70px;
	border-bottom:#e8491d 3px solid;
}

header a{
	color:#ffffff;
	text-decoration:nope;
	text-transform: uppercase;
	font-size:16px;
}

header nav{
	float:right;
	margin-top:10px;
}

header ul{
	margin:0;
	padding:0;
}

header li{
	float:left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float:left;
}

header #branding h1{
	margin:0;
}

